<div style="padding:3px;">
<table width="100%" cellpadding="3" cellspacing="0" class="inner">
  <tr>
    <td><span class="normal"><p align="left">Smilies sind kleine Bilder, die den Sinn haben, Gef&uuml;hle zum Ausdruck zu bringen und so die geschriebene Meinung zu unterstreichen. Wenn Sie hin und wieder chatten, d&uuml;rften Ihnen Smilies vermutlich ein Begriff sein. Einige "Standardzeichenfolgen" werden automatisch in Smilies umgewandelt. Wenn Sie Ihren Kopf zur Seite legen, k&ouml;nnen SIe mit ein bisschen Phantasie ein Gesicht erkennen .</p>
    <p align="left">Hier ist die Liste der derzeitigen Smilies:</p>
    </span>
   </td>
  </tr>
</table>
<br />
<center>
<table border="0" cellpadding="3" cellspacing="1" width="100%" class="inner">
<tr>
   <td width="33%" class="innerhead"><span class="normal"><strong>Bedeutung</strong></span></td>
   <td width="5%" nowrap="nowrap" class="innerhead"><span class="normal"><strong>Code</strong></span></td>
   <td class="innerhead"><span class="normal"><strong>Grafik Vorschau</strong></span></td>
</tr>
<loop="smilie">
<switch code="tablea;tableb" return="css">
<tr class="{smilie.css}">
   <td>{smilie.smilietitle}</td>
   <td>{smilie.smiliecode}</td>
   <td><img alt="" src="{smilie.smiliepath}" /></td>
</tr>
</loop="smilie">

</table>
</center>

<br />

<table width="100%" cellpadding="4" cellspacing="1" class="inner"><tr><td><span class="normal"><p align="left">Wenn Sie die grafischen Smilies in einem Beitrag deaktivieren wollen, k&ouml;nnen Sie die Option 'Smilies deaktivieren' beim Verfassen eines Beitrags verwenden. Dann wird ;) nicht in einen grafischen Smilie umgewandelt, sondern bleibt als ;) im Text stehen.</p></span>
</td>
</tr>
</table>

</div>