<div id="header">

</div>
<div class="colmask blogstyle">
    <div class="colmid">
        <div class="colleft">
            <div class="col1">
                <!-- Column 1 start -->
                <h2>Percentage dimensions of the blog style layout</h2>
                <img src="http://matthewjamestaylor.com/blog/perfect-3-column-blog-style-dimensions.gif" width="350" height="370" alt="Blog style three column layout dimensions" />
                <p>All the dimensions are in percentage widths so the layout adjusts to any screen resolution. Vertical dimensions are not set so they stretch to the height of the content.</p>

                <!-- Column 1 end -->
            </div>

            <div class="col2">
                <!-- Column 2 start -->
                <h2>No CSS hacks</h2>

                <p>The CSS used for this layout is 100% valid and hack free. To overcome Internet Explorer's broken box model, no horizontal padding or margins are used. Instead, this design uses percentage widths and clever relative positioning.</p>

                <!-- Column 2 end -->
            </div>
            <div class="col3">
                <!-- Column 3 start -->
                <h2>Browser Compatibility</h2>
                <p>This 3 column liquid Layout has been tested on the following browsers:</p>
                <h3>iPhone &amp; iPod Touch</h3>
                <ul>

                    <li>Safari</li>
                </ul>
                <h3>Mac</h3>
                <ul>
                    <li>Safari</li>
                    <li>Firefox</li>
                    <li>Opera 9.25</li>

                    <li>Netscape 9.0.0.5 &amp; 7.1</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div id="footer">
    <p>This page uses the <a href="http://matthewjamestaylor.com/blog/perfect-3-column-blog-style.htm">Perfect 'Blog Style' 3 Column Liquid Layout</a> by <a href="http://matthewjamestaylor.com">Matthew James Taylor</a>. View more <a href="http://matthewjamestaylor.com/blog/-website-layouts">website layouts</a> and <a href="http://matthewjamestaylor.com/blog/-web-design">web design articles</a>.</p>

</div>