<cp:combine type="css" compress="false">
    <link rel="stylesheet" href="{$css_url}reset.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}bootstrap/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}bootstrap/select/bootstrap-select.min.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}bootstrap/dcms.breadcrumbs.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}bootstrap/bootstrap-theme.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}bootstrap/bootstrap-animations.css" type="text/css" />
    <link rel="stylesheet" href="html/js/jquery/fancybox/style.css" type="text/css" />
    <link rel="stylesheet" href="html/css/dcmscore.css" type="text/css" />
    <link rel="stylesheet" href="html/css/subcols.css" type="text/css" />
    <link rel="stylesheet" href="html/css/contentgrid.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}wrapper.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}layout.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}typo.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}form-ui.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}bubble.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}boxes.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}comments.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}bbcode.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}navi.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}memberslist.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}teas.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}dokumentation.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}style-base.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}dcms.page.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}user.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}frontpage.css" type="text/css" />
    <link rel="stylesheet" href="{$css_url}repo.css" type="text/css" />
</cp:combine>