</div>
        <div id="footer" class="large">
            <div class="container">
                <div class="left">
                    <h3 class="sitemap">Menu</h3>
                    <ul>
                    
                        <li><a href="./">Home</a></li>
                        <li><a href="news/">News</a></li>
                        <li><a href="blog/Blog/">Blog</a></li>
                        <li><a href="forum/">Forum</a></li>
                    </ul>
                </div>
                <div class="middle vert_sprite">
                    <div class="top">
                        <div class="content-left">
                            <div class="follow-us">
                                <h3 class="follow">Follow Us</h3>
                                <ul>
                                <li><a href="#" class="icon blog">Subscribe to Blog</a></li>
                                <li><a href="#" class="icon twitter">Follow us on Twitter</a></li>
                                <li><a href="#" class="icon facebook">Be a fan on Facebook</a></li>
                                <li><a href="#rss" class="icon rss">RSS Feed</a></li>
                                </ul> 
                           </div>
                        </div>
                        <div class="content-right">
                            <div class="help-and-support">
                                <h3 class="help">Help and Support</h3>
                                <ul>
                                <li><a href="page/support.dcms">Contact Support</a></li>
                                <li><a href="page/Impressum.dcms">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div>
                        <div class="content-left">
                            <div class="newsletter disabled">
                                <h3 class="newsletter">Newsletter</h3>
                                <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                                    <input type="text" value="First Name" name="FNAME" id="mce-FNAME" class="fname" />
                                    <input type="text" value="Last Name" name="LNAME" id="mce-LNAME" class="lname" />
                                    <input type="text" value="Email Address" name="EMAIL" class="required email" id="mce-EMAIL" />
                                    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="action-button">SUBSCRIBE</button>
                                    
                                </form>
                            </div>
                        </div>
                        <div class="content-right">
                            <h3 class="stats">Site Hits</h3>
                            <div class="stats"> 
                                Unique Site Hits
                                <p class="total-count">[component name="SiteTracker" tracktype="visitors"]</p>
                                
                                Today Hits
                                <p class="today-count">[component name="SiteTracker" tracktype="today"]</p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="right vert_sprite">
                    <div class="top">
                        <h3 class="listed-by">Listed By</h3>
                        <div class="external-site small">
                            
                            <a href="http://www.php-resource.de/" target="_blank"><img src="{$img_url}common/php-resource-de-link.jpg" width="95" height="125" title="php-resource.de" alt="php-resource.de" border="0"/></a>
                            <div>
                                Das DreamCMS wird gelistet bei PHP-RESOURCE.DE
                                
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="external-site">
                            <div></div>
                        </div>
                    </div>
                </div>
                
            
                <div id="copyright">
                    <div class="container">
                        <div class="powered-by-dreamcms"><span></span> <a href="#">POWERED BY DREAM CMS v2.0 Beta</a> </div>
                        <div class="copyright">
                            <p> <span>COPYRIGHT (C) 2007 - 2010 <a href="http://www.dcms-studio.de">DREAM DESIGN STUDIO</a></span> | <span><a href="support.html">SUPPORT/HELP</a></span> | <span>ICONS BY <a href="http://famfamfam.com/" target="_blank">FAMFAMFAM</a> + <a href="http://p.yusukekamiyamane.com/" target="_blank">p.yusukekamiyamane</a></span></p>
                            <p class="trademarks">The DreamCMS works with PHP 5.2 and above, MySQL 5. Using jQuery &amp; jQuery UI, GeSHi and CKEditor</p>
                        </div>
                    </div>
                </div>
                
            </div>
            

            
            <div class="bottom-corners"></div>
        </div>

        <span id="dbg-timer" style="color:#ccc">{trans('Render Time')} <!--TIMING--></span>
        <div id="ajax-feedback" class="ajax-feedback" style="display:none;"> <span><img src="{$img_url}common/loader.gif" width="126" height="22" alt=""/>Request processing...</span> </div>
        <script type="text/javascript" src="{$img_url}javascripts/skincore.js"></script>
        <script type="text/javascript" src="html/js/dcmsTracker.js"></script>

<script type="text/javascript">
/*<![CDATA[*/

    $(document).ready(function() { 
    	dcmsTracker(); /*
    	loadComponentContent('validatorW3C', 'url='+ encodeURIComponent( document.location.href ), function(data){ 
    		if ( data.success === true ) { $('.powered-by-dreamcms span').addClass('.w3c-ok').append( $('<span>xhtml valid</span>') ); }
    		else { $('.powered-by-dreamcms span').addClass('.w3c-error').append( $('<span>'+ data.msg +' not xhtml valid</span>') ); }
    	}); */
    } );
/*]]>*/
</script>
    </body>
</html>