<cp:combine type="js" compress="false">
    <script type="text/javascript" src="html/js/jquery/jquery.202.min.js"></script>
    <script type="text/javascript" src="html/js/jquery/jquery-ui.1.10.0.min.js"></script>
    <script type="text/javascript" src="html/js/jquery/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{$img_url}js/modernizr.js"></script>
    <script type="text/javascript" src="html/js/syntax/js/shCore.js"></script>
    <script type="text/javascript" src="html/js/syntax/js/shBrushCss.js"></script>
    <script type="text/javascript" src="html/js/syntax/js/shBrushSql.js"></script>
    <script type="text/javascript" src="html/js/syntax/js/shBrushPhp.js"></script>
    <script type="text/javascript" src="html/js/syntax/js/shBrushXml.js"></script>
    <script type="text/javascript" src="html/js/syntax/js/shBrushPlain.js"></script>
    <script type="text/javascript" src="html/js/syntax/js/shBrushjScript.js"></script>
    <script type="text/javascript" src="html/js/jquery/fancybox/jquery.mousewheel-3.0.2.pack.js"></script>
    <script type="text/javascript" src="html/js/jquery/fancybox/jquery.fancybox-1.3.1.js"></script>
    <script type="text/javascript" src="html/js/jquery/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="html/js/jquery/gsap/jquery.gsap.min.js"></script>
    <script type="text/javascript" src="html/js/jquery/jquery.lazyload.js"></script>
    <script type="text/javascript" src="html/js/TweenMax.min.js"></script>
    <script type="text/javascript" src="html/js/backend/dcms.loader.js"></script>
    <script type="text/javascript" src="html/js/dcms.googlemap.js"></script>
    <script type="text/javascript" src="html/js/dcms-core.js"></script>
    <script type="text/javascript" src="{$img_url}js/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="{$img_url}js/bootstrap/select/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{$img_url}js/waypoints.min.js"></script>
    <script type="text/javascript" src="{$img_url}js/waypoints-sticky.min.js"></script>
    
    <script type="text/javascript" src="{$img_url}js/skin.js"></script>
</cp:combine>