var cmslang = {};
cmslang.alert = '{trans('Achtung', 'e:javascript')}';
cmslang.error = '{trans('Fehler', 'e:javascript')}';
cmslang.error_generic = '{trans('Es ist ein Fehler aufgetreten.', 'e:javascript')}';
cmslang.session_error = '{trans('Ihre Sitzung ist abgelaufen und werden daher zum Login weitergeleitet!', 'e:javascript')}';

cmslang.loadimages = '{trans('Hole Bilder...', 'e:javascript')}';
cmslang.load = '{trans('Laden...', 'e:javascript')}';
cmslang.loading = '{trans('Laden...', 'e:javascript')}';
cmslang.loadpage = '{trans('Lade Seite ...', 'e:javascript')}';
cmslang.loadgrid = '{trans('Hole Grid-Daten...', 'e:javascript')}';

cmslang.yourbookmarks = '{trans('Ihre Lesezeichen', 'e:javascript')}';
cmslang.addbookmark = '{trans('Lesezeichen hinzufügen', 'e:javascript')}';
cmslang.removebookmark = '{trans('Bookmark löschen', 'e:javascript')}';
cmslang.config_required_error = '{trans('Angaben dürfen nicht leer sein!', 'e:javascript')}';
cmslang.note_togglebutton_open = '{trans('Notiz öffnen', 'e:javascript')}';
cmslang.note_togglebutton_close = '{trans('Notiz schließen', 'e:javascript')}';

cmslang.logout_title = '{trans('Abmelden...', 'e:javascript')}';
cmslang.logout_confirm = '{trans('Willen Sie sich wirklich abmelden?', 'e:javascript')}';

// List view
cmslang.filter_list = '{trans('Liste Filtern...', 'e:javascript')}';
cmslang.reload_list ='{trans('Liste neu laden', 'e:javascript')}';
cmslang.remove_list_filter = '{trans('Filter entfernen', 'e:javascript')}';
cmslang.confirm_remove_selecteditems ='{trans('Wollen Sie wirklich die gewählten Datensätze löschen?', 'e:javascript')}';
cmslang.confirm_run_selecteditems ='{trans('Wollen Sie diese Aktion (%s), für die gewählten Datensätze ausführen?', 'e:javascript')}';


// Forms
cmslang.seemode_dirty = '{trans('Die aktuelle Seite enthält ungespeicherte Daten!', 'e:javascript')}';
cmslang.seemode_nodirty = '{trans('Keine Änderungen vorhanden.', 'e:javascript')}';
cmslang.save_notify = '{trans('Daten werden gespeichert...', 'e:javascript')}';
cmslang.save_notifystatus = '{trans('Daten der Seite werden gespeichert...', 'e:javascript')}';
cmslang.default_status = '{trans('Keine Änderungen vorhanden.', 'e:javascript')}';
cmslang.formsend = '{trans('Sende Formular...', 'e:javascript')}';
cmslang.formsave = '{trans('Speichere Formular...', 'e:javascript')}';
cmslang.formsave_notify = '{trans('Daten der Seite werden gespeichert...', 'e:javascript')}';
cmslang.form_dirty = '{trans('Die aktuelle Seite enthält ungespeicherte Daten!', 'e:javascript')}';
cmslang.formsave_error = '{trans('Daten können nicht gespeichert werden...', 'e:javascript')}';
cmslang.formsave_success = '{trans('Formular wurde erfolgreich gespeichert.', 'e:javascript')}';
cmslang.formidentifier_example = '{trans('Beispiel URL:', 'e:javascript')}';

// Confirms
cmslang.confirm_deletetitle = '{trans('Löschen...', 'e:javascript')}';
cmslang.confirm_note_delete = '{trans('Möchtest Du diese Notiz wirklich löschen?', 'e:javascript')}';
cmslang.confirm_note_add = '{trans('Tragen deine Notiz bitte ein:', 'e:javascript')}';
cmslang.confirm_okbtn = '{trans('Fortsetzen', 'e:javascript')}';
cmslang.confirm_cancelbtn = '{trans('Abbrechen', 'e:javascript')}';
cmslang.confirm_requiredtitle = '{trans('Eingabe erforderlich...', 'e:javascript')}';

// Widgets
cmslang.widgets_collapsible_title = '{trans('Ausklappen/Einklappen', 'e:javascript')}';
cmslang.widgets_refresh_title = '{trans('Widget aktualisieren', 'e:javascript')}';
cmslang.widgets_config_title = '{trans('Widget Einstellungen...', 'e:javascript')}';
cmslang.widgets_remove_title = '{trans('Widget entfernen...', 'e:javascript')}';

cmslang.widgets_remove_confirm = '{trans('Wollen Sie das Widget "%s" wirklich entfernen?<br/>Bitte beachten Sie, das alle vorhandenen Einstellungen für dieses Widget verloren gehen!', 'e:javascript')}';


// Masks
cmslang.mask_getinfo = '{trans('Holt Informationen...', 'e:javascript')}';
cmslang.mask_getdata = '{trans('Hole Daten aus Anfrage...', 'e:javascript')}';
cmslang.mask_pleasewait = '{trans('Bitte warten...', 'e:javascript')}';
cmslang.mask_loadpage = '{trans('Lade Seite "%s"...', 'e:javascript')}';
cmslang.mask_loadfiles = '{trans('Lade Dateien...', 'e:javascript')}';
cmslang.mask_copyfiles_cached = '{trans('Datei(en) fürs kopieren vorbereitet...', 'e:javascript')}';
cmslang.mask_copyfiles = '{trans('Datei(en) werden kopiert...', 'e:javascript')}';
cmslang.mask_readfileinfos = '{trans('Datei Informationen auslesen...', 'e:javascript')}';
cmslang.mask_createzipfile = '{trans('Erzeuge Zip Datei...', 'e:javascript')}';
cmslang.mask_readfile = '{trans('Datei lesen...', 'e:javascript')}';
cmslang.mask_saving = '{trans('Speichern...', 'e:javascript')}';

// TinyMCE Filebrowser title
cmslang.tinyMCE_filebrowsertitle = '{trans('DreamCMS Datei Browser...', 'e:javascript')}';