<cp:extends template="../container" />
<cp:block name="main_content">
	<div class="controlpanel-tabs">
		<cp:include template="usercontrol/tabpanel" />
	</div>
	<div class="settings">
		<cp:if condition="$user.groupid == 8">
			<div class="spacertd_row"> <span class="fl p3">
                            {trans('Leider ist diese Funktion im Demo-Modus deaktiviert.')}
                        </span>

			</div>
		</cp:if>
		<cp:else>
			<form action="profile/password" id="changepassword" method="post">
				<input type="hidden" name="send" value="send" />
				<input type="hidden" name="uiqtoken" value="{$session.uiqtoken}" />
				 <h3 class="underlined">
                            {trans('Passwort ändern')}
                        </h3>

				<div class="containerdiv top"> <span class="changepw-key"></span>

					<fieldset>
						<legend>{trans('Dein altes Passwort')}</legend>
						<input type="password" class="input" name="oldpassword" value="" maxlength="250" size="50" />
					</fieldset>
					<fieldset>
						<legend>{trans('Passwort')}</legend>
						<input type="password" class="input" name="password" value="" maxlength="250" size="50" />
					</fieldset>
					<fieldset>
						<legend>{trans('Passwort bestätigen')}</legend>
						<input type="password" class="input" name="passwordconfirm" value="" maxlength="250" size="50" />
					</fieldset>
					<fieldset>
						<legend>{trans('Sicherheitscode')}</legend>
						<img id="scid" class="captchaImage" alt="" src="main/captcha" width="200" height="80" />
						<div style="width:200px;display:inline-block">
							<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="18" height="18" id="SecurImage_as3">
								<param name="allowScriptAccess" value="sameDomain" />
								<param name="allowFullScreen" value="false" />
								<param name="movie" value="{$html_path}flash/captcha.swf?audio=index.php?cp=main&action=captchaaudio&bgColor1=#fff&bgColor2=#fff&iconColor=#000&roundedCorner=0" />
								<param name="quality" value="high" />
								<param name="bgcolor" value="#ffffff" />
								<embed src="{$html_path}flash/captcha.swf?audio=main/captchaaudio&bgColor1=#fff&bgColor2=#fff&iconColor=#000&roundedCorner=0" quality="high" bgcolor="#ffffff" width="18" height="18" name="SecurImage_as3" align="middle" allowScriptAccess="sameDomain"
								allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
							</object>
							<br/>
							<a href="javascript:void(0)" onclick="reloadcaptch('scid')">
								<img src="{$img_url}refresh.png" width="16" height="16" alt="-" title="Reload Image" class="absmiddle" />
							</a>
						</div>
						<p>
							<input type="text" size="12" maxlength="8" name="securecode" class="input" />
						</p>
					</fieldset>
					<p class="tc">
						<input class="button save-button" type="button" value="{trans('Abschicken')}" />
						<input class="button" type="reset" accesskey="R" value="{trans('Zurücksetzen')}" />
					</p>
				</div>
			</form>
			<script type="text/javascript">
			/* <![CDATA[ */

			var div = $('<div id="form-message" class="validation"></div>');
			div.insertBefore($('#changepassword'));
			div.hide();

			$('#changepassword')
				.registerFormFE({
				exit_url: 'user/controlpanel',
				save: function (exit) {
					var self = this;
					post = $('#changepassword')
						.serialize();

					$.post('user/password', post, function (data) {
						if (responseIsOk(data)) {

							var button = $('<button/>')
								.addClass('action-button')
								.append('Weiter...');
							div.empty();
							span = $('<div/>')
								.append(data.msg);
							$('#changepassword')
								.hide();
							div.addClass('success')
								.append(span)
								.show();
							div.addClass('success')
								.append($('<div/>')
								.append(button));
							button.click(function () {
								document.location.href = self.exit_url
							});

						} else {
							self.error(data);
						}
					}, "json");

				}
			});

			/* ]]> */
			</script>
		</cp:else>
	</div>
</cp:block>