<script language="javascript" type="text/javascript">
//ÃƒÂ‚ÃƒÂ‚Ã‚<![CDATA[
var ctab = 0;
var ctab = 0;
//]]ÃƒÂ‚Ã‚Â»
</script>
<script language="javascript" type="text/javascript" src="core/js/contentscript.js"></script>
<script language="javascript" type="text/javascript" src="core/js/dcms_tabs.js"></script>
<form action="index.php" method="post">

<div class="fl w100perc">

<div class="">{control_tabs}</div>

<table border="0" width="100%" cellpadding="0" cellspacing="0">
<tr>
<td class="innerhead">News schreiben...</td>
</tr>
<tr>
<td class="tcontent p3">
    <div id="tc0">
      <table border="0" width="100%" cellpadding="3" cellspacing="0">
	<tr>
		<td width="40%"><strong>Kategorie</strong></td>
		<td width="60%"></td>
	</tr>
	<tr>
		<td width="40%"><strong>Produkt</strong></td>
		<td width="60%">def</td>
	</tr>
	<tr>
		<td width="40%"><strong>Hersteller</strong></td>
		<td width="60%"></td>
	</tr>
	<tr>
		<td colspan="2"><strong>Aufmacher</strong></td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
	<tr>
		<td colspan="2"><strong>News Inhalt</strong></td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
      </table>
    </div>

    <div id="tc1">
    </div>

    <div id="tc2">
    </div>

</td>
</tr>
<tr>
<td class="tcontent p3 tc">
	<input type="submit" value="" class="button"/> <input type="reset" class="button"/> 
</td>
</tr>
</table>

</div>

</form>