<table class="errorborder" width="100%" border="0" cellpadding="3" cellspacing="0">
<tr class="errorhead">
    <td colspan="2" style="background-color:#333333;font-weight:bold">{$title}</td>
</tr>
<tr>
      <td class="errorcontent" width="1%"><img alt="" src="images/errors/404.gif" width="65" height="56" border="0" /></td>
      <td class="errorcontent">
<span class="redirectnormal"><strong>{$error_msg}</strong></span><br />
      <a href="javascript:history.back();" class="redirectsmall"><span class="small">{trans('Benutzen Sie den Zurück-Button Ihres Browsers oder klicken Sie hier!')}</span></a></td>
</tr>
</table>