<cp:extends template="../container" />
<cp:block name="main_content">
	<form method="post" action="/auth/lostpw" class="lostpassword">
		<p>{trans('Geben Sie hier Ihren Benutzernamen oder Ihre Email Adresse ein die Sie bei Ihrer Registrierung angegeben haben, damit wir Ihnen weitere Informationen zuschicken können.')}</p>
		<div>

			<cp:if condition="$mailsend">
				<div class="alert bg-success">{trans('Dein Account wurde zurückgesetzt. Du erhälst nun in kürze eine Email mit weiteren Informationen.')}</div>
			</cp:if>
			<cp:else>
			<cp:if condition="$error">
				<div class="alert bg-danger">{$error}</div>
			</cp:if>
				<fieldset>
					<input type="text" name="username" size="30" maxlength="50" placeholder="{trans('Benutzername')}" />
				</fieldset>
				<fieldset>
					<input type="text" name="email" size="30" maxlength="250" placeholder="{trans('Email')}" />
				</fieldset>
				<input type="hidden" name="send" value="send" />

                <button type="submit" accesskey="s" class="btn btn-primary">
                    {trans('Abschicken')}
                </button>
			</cp:else>
		</div>
	</form>
</cp:block>