<tr>
      <td class="tablea"><span class="normal"><strong>Passwort:</strong></span></td>
      <td class="tablea"><span class="normal"><input type="password" class="input" name="r_password" value="" maxlength="30" size="20" /></span></td>
    </tr>
    <tr>
      <td class="tableb"><span class="normal"><strong>Passwort wiederholen:</strong></span></td>
      <td class="tableb"><span class="normal"><input type="password" class="input" name="r_confirmpassword" value="" maxlength="30" size="20" /></span></td>
    </tr>