<cp:if condition="count($topnews)">
    <div class="top-news">

        <cp:set var="x" value="0"/>

        <cp:loop name="topnews" key="r">
            <cp:if condition="$x == 0">
                <article class="large-article">
                    <cp:seemodeitem modul="news" contentid="$r.id" edit="action=edit_news&amp;id=%s&amp;edit=1" publish="action=publish&id=%s" state="$r.published" delete="">
                        <header>
                            <cp:if condition="trim($r.image.src) != ''">
                                <div class="thumb" style="text-align:center">
                                    <cp:thumb src="$r.image.src" width="348" height="180" title="escape($r.title, 'html')" cache="news/topnews/" aspect="false" shrink="true" crop="true" />
                                </div>
                            </cp:if>
                            <cp:else>
                                <div class="no-thumb">
                                </div>
                            </cp:else>
                        </header>
                            <h2>
                            <a href="{$r.url}">
                                    {seemode(truncate($r.title, 50), 'title', true, 50)}
                            </a></h2>
                        <div class="meta">
                            {seemode(truncate($r.text, 300, 's', '...'), 'content', true, 300, 's')}
                           </div> <div class="read-more">
                            <a href="{$r.url}">
                                » {trans('weiterlesen')}
                            </a>
                                
                            </div>
                        
                    </cp:seemodeitem>
                </article>
            </cp:if>
            <cp:else>
                 <article class="small-article">
                    <div class="thumb" style="text-align:center;float:left;margin-right: 5px;width:54px;overflow:hidden"><cp:thumb src="$r.image.src" width="54" height="54" title="escape($r.title, 'html')" cache="news/topnews/" aspect="false" shrink="true" crop="true" /></div>
                    <div style="margin-left:59px">
                        <div class="meta-title">{seemode(truncate($r.title, 32, 's', '...'), 'title', true, 32, '...')}</div>
                        <p class="meta">{seemode(truncate($r.text, 40, 's', '...'), 'content', true, 40, 's')}</p>
                        <div class="meta-bottom"><span class="meta-date">{date('d.m.Y, H:i', $r.created)}</span> | <a href="{$r.url}">{trans('weiterlesen')}</a></div>
                    </div>
                </article>
            </cp:else>
            <cp:set var="x" value="$x + 1"/>
        </cp:loop>
        

    </div>
</cp:if>